/venv

*/__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl
*.egg-info/
*.eggs/
*.whl
*.db
*.sqlite3
*.log
*.coverage
*.mypy_cache/
*.pytest_cache/
*.tox/
*.dist-info/
*.idea/
*.vscode/
*.DS_Store
*.env
*.env.local
